@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext");
*{
  margin: 0;
  padding:0;
 }
body{
  margin-top:12vh;
  font-family: "Roboto", sans-serif;
}


.view {
  padding: 5px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  text-align: left;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view .content ,
.view .mask{
  width: 100%;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.view img {
  display: block;
  position: relative
}

.view h2 {
  width: auto;
  color: #fff;
  text-align: left;
  position: relative;
  font-size: 17px;
  padding: 20px;
}

.view-second img {
  height: 200px;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}

.view-second .mask {
  background-color: rgba(12, 19, 27, 0.6);
  width: 300px;
  padding: 125px;
  height: 200px;
  opacity: 0;
  transform: translate(265px, 145px) rotate(45deg);
  -webkit-transform: translate(265px, 145px) rotate(45deg);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.view-second h2 {
  background: transparent;
  -webkit-transform: translate(200px, -200px);
  transform: translate(200px, -200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.view-second a.info {
  transform: translate(0px, 100px);
  -webkit-transform: translate(0px, 100px);
  transition: all 0.2s 0.1s ease-in-out;
  -webkit-transition: all 0.2s 0.1s ease-in-out;
}

.view-second:hover .mask {
  opacity: 1;
  transform: translate(-80px, -125px) rotate(45deg);
  -webkit-transform: translate(-80px, -125px) rotate(45deg);
}

.view-second:hover h2 {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
}


.view-second:hover a.info {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
}
.inline{
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items: center;
  margin-top:2vh;
}
.zones{
  display: flex;
  flex-wrap:nowrap;
  justify-content:space-around;
  margin-top:3vh;
}
.info{
  display: flex;
  flex-direction:column;
  justify-content:center;
  text-align: center;
  align-items: center;
  margin-left:10%;
  margin-right:10%
}

.main {
  text-align: center;
 margin: 20px auto;
}

.main ul {
  text-align: center;
 list-style: none;
 margin: 0;
 padding: 0;
}

.main li {
  text-align: center;
 text-decoration: none;
 font: 14px ;
 border-bottom: 1px solid #999;
}

.main li:first-child {
 border-top: 1px solid #999;
}

.main li  {
 text-decoration:none;
 color: #999;
 display: block;
 height: 40px;
 line-height: 40px;
 -webkit-transition: font-size 0.3s ease, background-color 1s ease;
 -moz-transition: font-size 0.3s ease, background-color 1s ease;
 -ms-transition: font-size 0.3s ease, background-color 1s ease;
 -o-transition: font-size 0.3s ease, background-color 1s ease;
 transition: font-size 0.3s ease, background-color 1s ease;
}

.main li:hover {
 font: 18px;
 line-height: 40px;
 text-decoration: none;
 color: #999;
 background: #e3e3e3;
}
.btn {
 border-radius: 5px;
 font-size: 12px;
 padding:4px;
 margin:2%;
 text-decoration: none;
 color: #fff;
 display: inline-block;
 border:none;
 outline:none;
}

.btnbig {
  border-radius: 5px;
  font-size: 20px;
  padding:5px;
  margin:3%;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border:none;
  outline:none;
 }
.confirmBox {
  background-color: whitesmoke;
 text-align: center;
  border-radius: 5px;
  padding: 3%;
  margin:2%;
  border:1px solid black;
  outline:none;
 }
.btn:active {
 transform: translate(0px, 5px);
 -webkit-transform: translate(0px, 5px);
 box-shadow: 0px 1px 0px 0px;
 border:none;
 outline:none;
}

.orange {
  background-color: orange;
  box-shadow: 0px 5px 0px 0px rgba(255, 166, 0, 0.596)
  ;
 }
 
 .orange:hover {
  background-color:  rgb(245, 189, 84);
  cursor:pointer;
  border: none;
  outline:none;
 }
 .purple {
  background-color: purple;
  box-shadow: 0px 5px 0px 0px rgba(128, 0, 128, 0.37)
  ;
 }
 
 .purple:hover {
  background-color:  rgb(155, 9, 155);
  cursor:pointer;
  border: none;
  outline:none;
 }
.red {
 background-color:  #ff0000;
 box-shadow: 0px 5px 0px 0px #990000
 ;
}

.red:hover {
 background-color:  #ff4d4d;
 cursor:pointer;
 border: none;
 outline:none;
}
.green {
  background-color: #33cc33;
  box-shadow: 0px 5px 0px 0px #1f7a1f;
 }
 
 .green:hover {
  background-color: #71da71;
  cursor:pointer;
  border: none;
  outline:none;
 }
 .blue {
  background-color: #242582;
  box-shadow: 0px 5px 0px 0px #12048da4;
 }
 .disable {
  display:none;
  background-color: grey;
  box-shadow: 0px 5px 0px 0px rgba(255, 166, 0, 0.596)
  ;
 }

 .complete {
  background-color: rgb(7, 7, 7);
 }
 .unlocked {
  background-color: rgb(45, 189, 45)
 }
 .locked{
  background-color:  #ff0000;
 }
 .blue:hover {
  background-color: #244282;
  cursor:pointer;
  border: none;
  outline:none;
 }
 .mainColor {
  background-color: #553D67;
  box-shadow: 0px 5px 0px 0px rgb(60, 40, 75);
 }
 
 .mainColor:hover {
  background-color: rgb(112, 82, 136);
  cursor:pointer;
  border: none;
  outline:none;
 }
 .imgFit{
   display: flex;
   align-items: center;
   justify-items: center;
 height: 100%;
 width: 100%;
 object-fit: contain;
 border-radius: 25px;
 }

 .marginTop{
   margin-top: 20vh;
 }

 .imgBox{

  width: 45%;
}

  .respBox{
    display: flex;
    align-content: center;
    justify-content: center;
 }
.paddingTop{
  padding-top: 5vh
}

.error{
color:red;
font-size:14px
}

 .spin img{
  animation: spin 2s ease-in-out forwards  ;
  animation-play-state: start;
}


@keyframes spin {
0%{
  width: 80%;
  height: 100%;
}
50% {
  width: 0%;
  height: 0%;
}
  100% {
    transform: rotate(2turn);
    width: 80%;
    height: 80%;
  }
}
.block{
margin: 5vh 0;
border-radius: 15px;
padding: 4%;
}
.backprivate{
  background-color: #999
}
.backchallenged{
  background-color: rgb(207, 136, 207)
}
.backinspector{
  background-color: rgb(248, 220, 168)
}
.backcreate{
  background-color: rgb(142, 142, 231)
}

.margin0{
  margin-top: 0;
}
.fixed{
position: fixed;
 }